#create rewrite engine

RewriteEngine on

#create a condition that 'href' does not target a directory

RewriteCond %{REQUEST_FILENAME} !-d

# check for the file with the .html

RewriteCond %{REQUEST_FILENAME}\.html -f

# execute rule that displays the file with the .html after grabbing everything from the url
# the array ensures that url is not case-sensitive (NC), and the conditions above apply only to this rule

RewriteRule ^(.*)$ $1.html [NC, L] 